<template>
  <div id="AddAttachment">
      <h2>AddAttachment()</h2>
      <p>
           
      </p>
      <div class="table_div">
          <table class="ncr_green_border">
              <tr>
                  <th>
                        (0)     
                  </th>
                  <th>
                     attachmentURL :
                  </th>
                  <td>
                      <input type="text" v-model="attachmentURL" placeholder="simple Url ...">
                  </td>
              </tr>
              <tr>
                  <th>
                        (1)     
                  </th>
                  <th>
                    attachmentCategory: 
                  </th>
                  <td>
                      <input type="text" v-model="attachmentCategory" placeholder="Miscellaneous (usually)">
                  </td>
              </tr>
              <tr>
                  <th>
                        (2)     
                  </th>
                  <th>
                    attachmentTitle: 
                  </th>
                  <td>
                      <input type="text" v-model="attachmentTitle" placeholder="title of the attachment">
                  </td>
              </tr>
              <tr>
                  <th>
                        (3)     
                  </th>
                  <th>
                     attachmentDescription: 
                  </th>
                  <td>
                      <input type="text" v-model="attachmentDescription" placeholder="short description of the attachment">
                  </td>
              </tr>
              <tr>
                  <th colspan="3">
                      <button @click="compile()">
                          Compile expression
                      </button>
                  </th>
              </tr>
          </table>
          <div class="result ncr_green_border">
              <p>
                  Compiled Expression is: <b> {{compiled}} </b>
              </p>

          </div>
      </div>
  </div>
</template>

<script>
export default {
    data(){
        return {
            attachmentURL: "",
            attachmentCategory: "",
            attachmentTitle: "",
            attachmentDescription: "",
            compiled: ""
        }
    },
    methods: {
        compile(){
            this.compiled = "AddAttachment(\"" + this.attachmentURL + "\",\"" + this.attachmentCategory + "\",\"" + this.attachmentTitle+ "\",\"" + this.attachmentDescription + "\");"
        }
    }
}
</script>

<style>

</style>