<template>
    <div>
        <h2>AddNPP()</h2>
        <p> </p>
        <div class="table_div">
            <table class="ncr_green_border">
                <tr>
                    <th>
                        (0)
                    </th>
                    <th>
                        nppPart:
                    </th>
                    <td>
                        <input type="text" v-model="nppPart">
                    </td>
                </tr>
                <tr>
                    <th>
                        (1)
                    </th>
                    <th>
                        nppDescription:
                    </th>
                    <td>
                        <input type="text" v-model="nppDescription">
                    </td>
                </tr>
                <tr>
                    <th colspan="3">
                        <button @click="compile()">
                            Compile Expresion
                        </button>
                    </th>
                </tr>
            </table>
            <div class="result ncr_green_border">
                <p>
                    The Compiled Expresion is: <b> {{compiled}}</b>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            nppPart: "",
            nppDescription: "",
            compiled: ""
        }
    },
    methods: {
        compile() {
            this.compiled = "AddNPP(\"" + this.nppPart + "\",\"" + this.nppDescription + "\");"
        }
    }
}
</script>

<style>

</style>