<template>
    <div id="AddPart">
        <h2>AddPart()</h2>
        <p>  </p>

        <div class="table_div">
            <table class="ncr_green_border">
                <tr>
                    <th>
                        (0)
                    </th>
                    <th>
                        partNumber:
                    </th>
                    <td>
                        <input type="text" v-model="partNumber" placeholder="Part Id taken from DB">
                    </td>
                </tr>
                <tr>
                    <th>
                        (1)
                    </th>
                    <th>
                        partConfidence: 
                    </th>
                    <td>
                        <input type="text" v-model="partConfidence" placeholder="90 was the code usually in EPS">
                    </td>
                </tr>
                <tr>
                    <th colspan="3">
                        <button @click="compile()">
                            Compile Expresion
                        </button>
                    </th>
                </tr>
            </table>
            <div class="result ncr_green_border">
                <p>
                    Compiled Expresion: <b> {{compiled}} </b>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            partNumber: "",
            partConfidence: "",
            compiled: ""
        }
    },
    methods: {
        compile(){
            this.compiled = "AddPart(\"" + this.partNumber + "\",\"" + this.partConfidence + "\");"
        }
    }
}
</script>

<style>

</style>