<template>
    <div id="AddSkill">
        <h2>AddSkill()</h2>
        <p>  </p>

        <div class="table_div">
            <table class="ncr_green_border">
                <tr>
                    <th>
                        (0)
                    </th>
                    <th>
                        skillType:
                    </th>
                    <td>
                        <input type="text" v-model="skillType" placeholder="usually Self-Service-HW-NCR ATM">
                    </td>
                </tr>
                <tr>
                    <th>
                        (1)
                    </th>
                    <th>
                        skillName:
                    </th>
                    <td>
                        <input type="text" v-model="skillName" placeholder="Same as skilLType">
                    </td>
                </tr>
                <tr>
                    <th>
                        (2)
                    </th>
                    <th>
                        SkillLevel:
                    </th>
                    <td>
                        <input type="text" v-model="skillLevel" placeholder="usually 1 with additions">
                    </td>
                </tr>
                <tr>
                    <th colspan="3">
                        <button @click="compile()">
                            Compile Expression
                        </button>
                    </th>
                </tr>

            </table>
            <div class="result ncr_green_border">
                <p>
                    Compiled Expresion: <b> {{compiled}} </b>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            skillType: "",
            skillName: "",
            skillLevel: "",
            compiled: ""
        }
    },
    methods: {
        compile(){
            this.compiled = "AddSkill(\"" + this.skillType + "\",\"" + this.skillName + "\",\"" + this.skillLevel + "\");"
        }
    }
}
</script>

<style>

</style>