<template>
  <div id="AddTaskNote">
      <h2>AddTaskNote()</h2>
    <div class="table_div">

    
    <table class="ncr_green_border">
        <tr>
            <th>
                (0)
            </th>
            <th>
                Note: 
            </th>
            <td>
                <input type="textarea" v-model="note">
            </td>
        </tr>
        <tr>
            <th>
                (1) 
            </th>
            <th>
               NoteType:
            </th>
            <td>
                <select v-model="noteType">
                    <option disabled value="">Please select one</option>
                    <option>Repair Advice</option>
                    <option>General Note</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                (2)
            </th>
            <th>
               noteStatus:
            </th>
            <td>
                <select v-model="noteStatus">
                    <option disabled value="">Please select one</option>
                    <option>I</option>
                    <option>P</option>
                </select>
            </td>
        </tr>
        <tr>
            <th colspan="3">
                <button @click="compile()">Compile Expresion</button>
            </th>
        </tr>
    </table>
    <div id="result" class="result ncr_green_border">
        <p>
            The result is : <b> {{compiled}} </b>
        </p>
    </div>
    </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            test: "123",
            note: "",
            noteType: "",
            noteStatus: "I",
            compiled: ""
        }
    },
    methods: {
        compile(){
            var str = this.note
            var res = str.replace(/"/g, "'");


            this.compiled = "AddTaskNote(" + "\"" + res + "\",\"" + this.noteType + "\",\"" + this.noteStatus + "\");" 
        }
    }
}

</script>

<style>
#AddTaskNote  table{
    min-width: 45%;
    /* border: 1px solid green; */
    margin: 0 auto;
}
#AddTaskNote table th, td {
    border: 2px solid rgb(87, 182, 73);
}
#AddTaskNote  table input, select, option, button{
    width: 100%;
}
#AddTaskNote #result {
    width: 45%;
    margin: 0 auto;
    /* border: 1px solid green; */
}
</style>