<template>
    <div id="ChangeStatus">
        <h2>
            ChangeStatus()
        </h2>
        
        <div class="table_div">
            <p>
                  
            </p>
            <table class="ncr_green_border">
                <tr>
                    <th>
                       (0) taskStatus: 
                    </th>
                    <td>
                        <input type="textarea" v-model="taskStatus" placeholder="eg.. In Planning, EPS-RR, New, EPS-PBC, Auto Reject-Others">
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <button @click="compile()">
                            Compile Expresion
                        </button>
                    </th>
                </tr>
            </table>
            <div class="result ncr_green_border">
                <p>
                    This is the result: <b> {{compiled}}  </b>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            taskStatus:"",
            compiled: ""
        }
    },
    methods: {
        compile(){
            this.compiled = "ChangeStatus(" + "\"" + this.taskStatus + "\");"
        }
    }
}

/*
In Planning
EPS-RR
New
EPS-PBC
Auto Reject - Others

*/
</script>

<style>
.table_div  table{
    min-width: 65%;
    /* border: 1px solid green; */
    margin: 0 auto;
    background-color: white;
    
}
h2 {
    color: white;
}
p {
    color: white;
}
.table_dive table th, td {
    border: 1px solid green;
}
.table_div  table input, select, option, button{
    width: 100%;
}
.table_div .result {
    width: 65%;
    margin: 20px auto;
    /* border: 1px solid green; */
    background-color: white;
}
.table_div table td {
   width: 70%;
}
.result p {
    text-align: left;
    padding: 10px;
    color: black;
}
</style>