<template>
  <div id="CreateTask">
      <h2>CreateTask()</h2>

      <div class="table_div">
          <table class="ncr_green_border">
              <tr>
                  <th>
                      (0)
                  </th>
                  <th>
                      taskSubject:
                  </th>
                  <td>
                      <input type="text" v-model="taskSubject">
                  </td>
              </tr>
              <tr>
                  <th>
                      (1)
                  </th>
                  <th>
                      taskStatus
                  </th>
                  <td>
                      <input type="text" v-model="taskStatus">
                  </td>
              </tr>
              <tr>
                  <th>
                      (2)
                  </th>
                  <th>
                      taskType:
                  </th>
                  <td>
                      <input type="text" v-model="taskType">
                  </td>
              </tr>
              <tr>
                  <th>
                      (3)
                  </th>
                  <th>
                      taskDescription:
                  </th>
                  <td>
                      <input type="text" v-model="taskDescription">
                  </td>
              </tr>
              <tr>
                  <th>
                      (4)
                  </th>
                  <th>
                      note:
                  </th>
                  <td>
                      <input type="text" v-model="note">
                  </td>
              </tr>
              <tr>
                  <th>
                      (5)
                  </th>
                  <th>
                      noteType:
                  </th>
                  <td>
                      <input type="text" v-model="noteType">
                  </td>
              </tr>
              <tr>
                  <th>
                      (6)
                  </th>
                  <th>
                      plannedEffort:
                  </th>
                  <td>
                      <input type="text" v-model="plannedEffort">
                  </td>
              </tr>
              <tr>
                  <th>
                      (7)
                  </th>
                  <th>
                      groupOwner:
                  </th>
                  <td>
                      <input type="text" v-model="groupOwner">
                  </td>
              </tr>
              <tr>
                  
                      <th>
                          (8)
                      </th>
                      <th>
                          PUPSkill:
                      </th>
                      <td>
                          <input type="text" v-model="PUPSkill">
                      </td>
                  
              </tr>
              <tr>
                  <th colspan="3" class="select_input">
                      <span> CreateTask10 params. Enable the checkbox ==> </span> <input type="checkbox" id="checkbox" v-model="create10_checked">
                  </th>
              </tr>
              <tr>
                  <th>
                      (9)
                  </th>
                  <th>
                      resource:
                  </th>
                  <td >
                      <input type="text" v-model="resource">
                  </td>
              </tr>
            <tr>
                <th colspan="3" class="select_input">
                    <span>CreateTask 11 params. Enable this checkbox ==></span><input type="checkbox" id="checkbox" v-model="create11_checked">
                </th>

            </tr>
            <tr>
                <th>
                    (9)
                </th>
                <th>
                    ct_partNumber:
                </th>
                <td>
                    <input type="text" v-model="ct_partNumber">
                </td>

            </tr>
            <tr>
                <th>
                    (10)
                </th>
                <th>
                    ct_partConfidence
                </th>
                <td>
                    <input type="text" v-model="ct_partConfidence">
                </td>
            </tr>
            <tr>
                <th colspan="3">
                    <button @click="compile()"> 
                        Compile Expression
                    </button>
                </th>
            </tr>
          </table>
          <div class="result ncr_green_border big_result">
              <p>
                  The compiled Expresion is : {{compiled}}
              </p>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            taskSubject: "",
            taskStatus: "",
            taskType: "",
            taskDescription: "",
            note: "",
            noteType: "",
            plannedEffort: "",
            groupOwner: "",
            PUPSkill: "",
            create10_checked: false,
            resource: "",
            create11_checked: false,
            ct_partNumber: "",
            ct_partConfidence: "",
            compiled: ""
        }
    },
    methods: {
        compile() {
            if(this.create11_checked == true && this.create10_checked == false){
                this.compiled = "CreateTask(\"" + this.taskSubject + "\", \"" + this.taskSubject + "\", \"" + this.taskType + "\", \"" + this.taskDescription + "\", \"" + this.note + "\", \"" + this.noteType + "\", \"" + this.plannedEffort + "\", \"" + this.groupOwner + "\", \"" + this.PUPSkill + "\", \"" + this.ct_partNumber + "\", \"" + this.ct_partConfidence + "\");"
            }else if (this.create10_checked == true && this.create11_checked == false){
                this.compiled = "CreateTask(\"" + this.taskSubject + "\", \"" + this.taskSubject + "\", \"" + this.taskType + "\", \"" + this.taskDescription + "\", \"" + this.note + "\", \"" + this.noteType + "\", \"" + this.plannedEffort + "\", \"" + this.groupOwner + "\", \"" + this.PUPSkill + "\", \"" + this.resource + "\");"
            }
            else if (this.create11_checked == false && this.create10_checked == false){
                this.compiled = "CreateTask(\"" + this.taskSubject + "\", \"" + this.taskSubject + "\", \"" + this.taskType + "\", \"" + this.taskDescription + "\", \"" + this.note + "\", \"" + this.noteType + "\", \"" + this.plannedEffort + "\", \"" + this.groupOwner + "\", \"" + this.PUPSkill +  "\");"
            }
            else if (this.create11_checked == true && this.create10_checked == true){
                this.compiled = "You can't choose both versions"
            }
        }
    }
}
//+ "\", \"" +
</script>

<style>
.table_div  table{
    min-width: 65%;
    /* border: 1px solid green; */
    margin: 0 auto;
    
}
.table_dive table th, td {
    border: 1px solid green;
}
.table_div  table input, select, option, button{
    width: 100%;
}
.table_div .result {
    width: 65%;
    margin: 20px auto;
    /* border: 1px solid green; */
}
.table_div table td {
   width: 70%;
}
.result p {
    text-align: left;
    padding: 5px;
}
.select_input input[type="text"]{
    width: 90%;
}
.select_input input[type="checkbox"]{
    width: 5%;
    border: 1px solid red;
    /* padding: 5px; */
    transform: scale(1.5);
}
.big_result {
    margin-top: 150px;
    /* border: 5px solid red; */
}
</style>