<template>
    <div id="CreateSR">
        <h2>CreateSR()</h2>
        <p>  </p>
        <div class="table_div">
            <table class="ncr_green_border">
                <tr>
                    <th>
                        (0)
                    </th>
                    <th>
                        SRType: 
                    </th>
                    <td>
                        <input type="text" v-model="SRType">
                    </td>
                </tr>
                <tr>
                    <th>
                        (1)
                    </th>
                    <th>
                        summary: 
                    </th>
                    <td>
                        <input type="text" v-model="summary" placeholder="short sumamry">
                    </td>
                </tr>
                <tr>
                    <th>
                        (2)
                    </th>
                    <th>
                        taskSubject: 
                    </th>
                    <td>
                        <input type="text" v-model="taskSubject" placeholder="...">
                    </td>
                </tr>
                <tr>
                    <th>
                        (3)
                    </th>
                    <th>
                        note: 
                    </th>
                    <td>
                        <input type="text" v-model="note">
                    </td>
                </tr>
                <tr>
                    <th colspan="3">
                       <button @click="compile()">
                           Compile Expresion:
                        </button>  
                    </th>
                </tr>
            </table>
            <div class="result ncr_green_border">
                <p>
                    Compiled Result is: <b> {{compiled}} </b>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            SRType: "",
            summary: "",
            taskSubject: "",
            note: "",
            compiled: ""
        }
    },
    methods: {
        compile(){
            this.compiled = "CreateSR(\"" + this.SRType + "\",\"" + this.summary + "\",\"" + this.taskSubject + "\",\"" + this.note + "\");"
        }
    }
}
</script>

<style>

</style>