<template>
    <div id="CreatePISR">
        <h2>CreatePISR()</h2>
        <p>  </p>
        <div class="table_div">
            <table class="ncr_green_border">
                <tr>
                    <th>
                        (0)
                    </th>
                    <th>
                        country:
                    </th>
                    <td>
                        <input type="text" v-model="country">
                    </td>
                </tr>
                <tr>
                    <th>
                        (1)
                    </th>
                    <th>
                        siteCode:
                    </th>
                    <td>
                        <input type="text" v-model="siteCode">
                    </td>
                </tr>
                <tr>
                    <th>
                        (2)
                    </th>
                    <th>
                        serialNumber:
                    </th>
                    <td>
                        <input type="text" v-model="serialNumber">
                    </td>
                </tr>
                <tr>
                    <th>
                        (3)
                    </th>
                    <th>
                        customerNumber: 
                    </th>
                    <td>
                        <input type="text" v-model="customerNumber">
                    </td>
                </tr>
                <tr>
                    <th>
                        (4)
                    </th>
                    <th>
                        inventoryItem
                    </th>
                    <td>
                        <input type="text" v-model="inventoryItem">
                    </td>
                </tr>
                <tr>
                    <th>
                        (5)
                    </th>
                    <th>
                        summary: 
                    </th>
                    <td>
                        <input type="text" v-model="summary">
                    </td>
                </tr>
                <tr>
                    <th>
                        (6)
                    </th>
                    <th>
                        taskSubject:
                    </th>
                    <td>
                        <input type="text" v-model="taskSubject">
                    </td>
                </tr>
                <tr>
                    <th>
                        (7)
                    </th>
                    <th>
                        note: 
                    </th>
                    <td>
                        <input type="text" v-model="note">
                    </td>
                </tr>
                <tr>
                    <th>
                        (8)
                    </th>
                    <th>
                        partNumber:
                    </th>
                    <td>
                        <input type="text" v-model="partNumber">
                    </td>
                </tr>
                <tr>
                    <th colspan="3">
                        <button @click="compile()">
                            Compile Expression:
                        </button>
                    </th>
                    
                </tr>
            </table>
        <div class="result ncr_green_border">
            <p>
                Compiled Expression is: <b> {{compiled}} </b>
            </p>
        </div>

        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            country: "",
            siteCode: "",
            serialNumber: "",
            customerNumber: "",
            inventoryItem: "",
            summary: "",
            taskSubject: "",
            note:"",
            partNumber: "",
            compiled: ""
        }
    },
    methods: {
        compile(){
            this.compiled = "CreatePISR(\"" + this.country + "\",\"" + this.siteCode + "\",\"" + this.serialNumber + "\",\"" + this.customerNumber + "\",\"" + this.inventoryItem + "\",\"" + this.summary + "\",\"" + this.taskSubject + "\",\"" + this.note + "\",\"" + this.partNumber + "\");"
        }
    }

}
</script>

<style>

</style>