<template>
    <div id="CreateSRTask">
        <h2>CreateSRTask()</h2>
        <p>
              
        </p>
    
    <div class="table_div big_table">
        <table class="ncr_green_border">
            <!-- <tr>
                <th>
                    <input type="text" v-model="SRType">
                </th>

            -->
              <!-- </tr> --> 
              
            <tr>
                <th>
                    (0)
                </th>
                <th>
                    SRType:
                </th>
                <td>
                    <input type="text" v-model="SRType">
                </td>
            </tr>
            <tr>
                <th>
                    (1)
                </th>
                <th>
                    severity:
                </th>
                <td>
                    <input type="text" v-model="severity">
                </td>
            </tr>
            <tr>
                <th>
                    (2)
                </th>
                <th>
                    siteCode:
                </th>
                <td>
                    <input type="text" v-model="siteCode">
                </td>
            </tr>
            <tr>
                <th>
                    (3)
                </th>
                <th>
                    firstName:
                </th>
                <td>
                    <input type="text" v-model="firstName">
                </td>
            </tr>
            <tr>
                <th>
                    (4)
                </th>
                <th>
                    lastName:
                </th>
                <td>
                    <input type="text" v-model="lastName">
                </td>
            </tr>
            <tr>
                <th>
                    (5)
                </th>
                <th>
                    inventoryItem:
                </th>
                <td>
                    <input type="text" v-model="inventoryItem">
                </td>
            </tr>
            <tr>
                <th>
                    (6)
                </th>
                <th>
                    serialNumber:
                </th>
                <td>
                    <input type="text" v-model="serialNumber">
                </td>
            </tr>
            <tr>
                <th>
                    (7)
                </th>
                <th>
                    summary:
                </th>
                <td>
                    <input type="text" v-model="summary">
                </td>
            </tr>
            <tr>
                <th>
                    (8)
                </th>
                <th>
                    taskSubject:
                </th>
                <td>
                    <input type="text" v-model="taskSubject">
                </td>
            </tr>
            <tr>
                <th>
                    (9)
                </th>
                <th>
                    taskType:
                </th>
                <td>
                    <input type="text" v-model="taskType">
                </td>
            </tr>
            <tr>
                <th>
                    (10)
                </th>
                <th>
                    taskDescription:
                </th>
                <td>
                    <input type="text" v-model="taskDescription">
                </td>
            </tr>
            <tr>
                <th>
                    (11)
                </th>
                <th>
                    note:
                </th>
                <td>
                    <input type="text" v-model="note">
                </td>
            </tr>
            <tr>
                <th>
                    (12)
                </th>
                <th>
                    noteType:
                </th>
                <td>
                    <input type="text" v-model="noteType">
                </td>
            </tr>
            <tr>
                <th>
                    (13)
                </th>
                <th>
                    noteStatus:
                </th>
                <td>
                    <input type="text" v-model="noteStatus">
                </td>
            </tr>
            <tr>
                <th>
                    (14)
                </th>
                <th>
                    duration:
                </th>
                <td>
                    <input type="text" v-model="duration">
                </td>
            </tr>
            <!-- <tr v-for="(param, index) in paramList" :key="index">
                <th>
                    {{index}}
                </th>
                <th>
                    {{param}}
                </th>
                <td>
                    <input type="text" v-model="paramList[param]">
                </td>
            </tr> -->
            <tr>
                <th colspan="3">
                    <button @click="compile()">
                        Compile Expression
                    </button>
                </th>
            </tr>
        </table>
        <div class="clear_me">

        </div>
        <br>
        <div class="result_small ncr_green_table">
            <p>
                Compiled Expresion is : <b> {{compiled}} </b>
            </p>
            <!-- <button @click="copy_text()" class="copy_text ncr_green_border">
                Copy Text
            </button> -->
        </div>
        <br>
    </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            paramList : ["SRType", "severity", "siteCode", "firstName", "lastName", "inventoryItem", "serialNumber", "summary", "taskSubject", "taskType", "taskDescription", "note", "noteType", "noteStatus", "duration"],
            compiled: "",
            SRType: "",
            severity: "",
            siteCode: "",
            firstName: "",
            lastName: "",
            inventoryItem: "",
            serialNumber: "",
            summary: "",
            taskSubject: "",
            taskType: "",
            taskDescription: "",
            note: "",
            noteType: "",
            noteStatus: "",
            duration: ""
        }
    },
    methods: {
        compile() {
            this.compiled = "CreateSRTask(\"" + this.SRType + "\",\"" + this.severity + "\",\"" + this.siteCode + "\",\"" + this.firstName + "\",\"" + this.lastName + "\",\"" + this.inventoryItem + "\",\"" + this.serialNumber + "\",\"" + this.summary + "\",\"" + this.summary + "\",\"" + this.taskSubject + "\",\"" + this.taskType + "\",\"" + this.taskDescription + "\",\"" + this.note + "\",\"" + this.noteType + "\",\"" + this.noteStatus + "\",\"" + this.duration + "\");"
        },
        copy_text() {
            let copyText = this.compiled
            copyText.select();
            copyText.setSelectionRange(0, 99999)
            document.execCommand("copy");
            alert("Copied the text: " + copyText.value);
        }
    }
}
</script>

<style>

.big_table {
    position: relative;
    left: 10%;
    width: 80%;
    /* border: 1px solid red; */
}
.big_table table {
    position: absolute;
    left: 0;
}
.big_table .result_small {
    position: absolute;
    width: 40%;
    min-height: 400px;
    right: 0;
    top: 0;
    overflow: scroll;
    /* border: 1px solid red; */
    padding: 10px;
}
.copy_text {
    /* border: 1px solid green; */
    width: 50%;
    margin: 0 auto;
    padding: 5px;
}
.clear_me {
    clear: both;
}
@media only screen and (max-width: 1850px) {
    .big_table table {
        position: relative !important;
        width: 90% !important;
    }

    .result_small {
        /* border: 1px solid red; */
        position: relative !important;
        /* top: 100vw; */
        color: black;
        width: 100% !important;
        min-height: 150px !important;
        /* top: 100vh !important; */
        background-color: white !important;
        color: black !important;
    }
    .result_small p {
        color: black;
    }
}
</style>