<template>
  <div id="csv">
      <h2>Comma Separated Value Tool</h2>
      <p>Takes in a list of PIDS seperated with new lines and turns them into CSV</p>
      <textarea name="csv" id="csv" cols="50" rows="10" v-model="csv">  </textarea><br>
      <button @click="compile()">
          Compile
      </button>
      <p>
          Compiled CSV: {{compiled}}
      </p>
  </div>
  
</template>

<script>
export default {
    data() {
        return {
            csv: "",
            compiled: ""
        }
    },
    methods: {
        compile() {
            let split_csv = this.csv.split("\n")
            let csv_text = "";
            // console.log(split_csv);
            for(var i = 0; i <= split_csv.length -1 ; i++){
                let member = split_csv[i].trim()
                if(member == "" && member == " "){
                    continue
                }else {
                    if(i == split_csv.length -1){
                    csv_text += '"' + member + '"'
                    }else {
                    csv_text += '"' + member + '"' +", "
                    }
                }
                

                
            }
            this.text = csv_text;
            this.compiled = csv_text;
        }
    }
}
</script>

<style>
#csv button {
    width: 30%;
}
#csv {
    /* background-image: url("../assets/unnamed.jpg"); */
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}
</style>