<template>
  <div class="home">
    <h1>EPS Rule Helper</h1>
    <h2>Our Tools/Sites:</h2>

    <div class="tools_holder">

      <div v-for="(site, index) in sites" :key="index" class="tool_container">
        <div class="tool_img">
          <a :href="site.href" target="_blank">
           <img :src="require('@/assets/' + site.img_src)" />
          </a>
        </div>
        
        <div class="tool_description">
          <h3>
          {{site.title}}
        </h3>
          <p> {{site.text}} </p>
        </div>
      </div>
    </div>



  </div>
</template>

<script>

export default {
  name: 'Home',
  data(){
    return {
      sites: [
        {
          title: "EPS Predictive System Production",
          text: "* Production EPS console link ",
          img_src: "eps_link.png",
          href: "https://pwc.ncr.com/EPSConsole"
        },
        {
          title: "EPS Predictive System Development",
          text: "* Dev EPS console Link  * Creating and testing mini rules",
          img_src: "dev_link.png",
          href: "https://sks03.ncr.com:8181/EPSConsoleDEV"
        },
        {
          title: "EPS Jira Depository",
          text: "* EPS Jira board link  * Used to catch all of our to do tasks",
          img_src: "eps_jira.png",
          href: "https://jira.ncr.com/secure/RapidBoard.jspa?rapidView=40532&view=detail&selectedIssue=SERVICEENG-464"
        },
        {
          title: "EPS Sap BI",
          text: "* Data center",
          img_src: "eps_sap.png",
          href: "https://reporting-m3.ncr.com/BOE/BI"
        },
        {
          title: "ESUATA",
          text: "* Testing and searching calls for Americas instance(can only be used on IE)",
          img_src: "esuata.png",
          href: "http://esuata.daytonoh.ncr.com:8016/"
        },
        {
          title: "ESUATW",
          text: "* Testing and searchng calls for the World instance (can only be used on IE)",
          img_src: "esuatw.png",
          href: "http://esuatw.daytonoh.ncr.com:8019/"
        }
      ]
    }
  }
}
</script>

<style>
.home {
  /* border: 1px solid green; */
  color: black;
}
.home h1, h2 {
  text-align: left;
  margin-left:5%;
  color: white;
  text-align: center;
}
.tools_holder {
  border: 1px solid green;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.tool_container {
  width: 100%;
  border: 1px solid green;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  margin-bottom:5px;
  background-color: rgba(255, 255, 255, 0.904)
}
.tool_container .tool_img {
  width: 50%;
}
.tool_container p {
  color: black;
}
.tool_img img {
  max-width: 100%;
  height: 80%;
  padding-top: 5%;

}
.tool_container .tool_description {
  width: 45%;
}
@media only screen and (max-width: 601px){
  .tools_holder {
    width: 95%;
  }
  .tool_container {
    display: inline-block;
    height: 150px;
  }
  .tool_container .tool_img {
    width: 100%;
    height: 150px;
  }
  .tool_description {
    height: 100px;
    width: 350px;
    text-align: center;
    border: 1px solid red;
    display: none;
  }
  .tool_description h3 {
    width: 30%;
    float: left;
  }
  .tool_description p {
    /* width: 60%;
    float: right;
    font-size: 15px; */
    width: 100%;
    font-size: 5px;
  }
}
@media only screen and (min-width: 602px) and (max-width: 1050px){
 .tool_description {
   width: 50%;
 }
 .tool_container .tool_img {
   width: 500px;
 }
}
</style>
