<template>
    <div id="MoveToFired">
        <h2>MoveToFired()</h2>
        <p>  </p>
    
        <div class="table_div">
            <table class="ncr_green_border">
                <tr>
                    <th>
                        (0)
                    </th>
                    <th>
                        activityType: 
                    </th>
                    <td>
                        <input type="text" v-model="activityType">
                    </td>
                </tr>
                <tr>
                    <th colspan="3">
                        <button @click="compile()">
                            Compile Expression
                        </button>
                    </th>
                </tr>
            </table>

            <div class="result ncr_green_border">
                <p>
                    Compiled Expression: <b> {{compiled}} </b>
                </p>
            </div>
        </div>


    </div>
</template>

<script>
export default {
    data(){
        return {
            activityType: "",
            compiled: ""
        }
    },
    methods: {
        compile(){
            this.compiled = "MoveToFired(\"" + this.activityType + "\");"
        }
    }

}
</script>

<style>

</style>