<template>
    <div>
        <h1>NoAction()</h1>
        <p>
            Has no parameters, fires of if someting is wrong
        </p>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>