<template>
   <div id="SendMail">
    <h2>SendMail()</h2>
    <p>
          
    </p>
    <div class="table_div">
        <table class="ncr_green_border">
            <tr>
                <th>
                    (0)
                </th>
                <th>
                    from: 
                </th>
                <td>
                    <input type="text" v-model="from">
                </td>
            </tr>
            <tr>
                <th>
                    (1)
                </th>
                <th>
                    to:
                </th>
                <td>
                    <input type="text" v-model="to" placeholder="array of emails">
                </td>
            </tr>
            <tr>
                <th>
                    (2)
                </th>
                <th>
                    Subject: 
                </th>
                <td>
                    <input type="text" v-model="subject">
                </td>
            </tr>
            <tr>
                <th>
                    (3)
                </th>
                <th>
                    body
                </th>
                <td>
                    <input type="text" v-model="body">
                </td>
            </tr>
            <tr>
                <th colspan="3">
                    <button @click="compile()">
                        Compile Expresion
                    </button>
                </th>
            </tr>
        </table>
        <div class="result ncr_green_border">
            <p>
                Compiled Expresion is : <b> {{compiled}} </b>
            </p>
        </div>
    </div>
    </div> 
</template>

<script>
export default {
    data() {
        return {
            from: "",
            to: "",
            subject: "",
            body: "",
            compiled: ""

        }
    },
    methods: {
        compile() {
            this.compiled = "SendMail(\"" + this.from + "\",\"" + this.to + "\",\"" + this.subject + "\",\"" + this.body + "\");"
        }
    }
}
</script>

<style>

</style>