<template>
 <div id="SetNSVRepairAdvice">
     <h2>SetNSVRepairAdvice()</h2>
     <p>
          
     </p>
     <div class="table_div">
         <table class="ncr_green_border">
             <tr>
                 <th>
                     (0)
                 </th>
                 <th>
                     nsvActivtyType:
                 </th>
                 <td>
                     <input type="text" v-model="nsvActivtyType">
                 </td>
             </tr>
             <tr>
                 <th>
                     (1)
                 </th>
                 <th>
                     nsvidAndactivity: 
                 </th>
                 <td>
                     <input type="text" v-model="nsvidAndactivity">
                 </td>
             </tr>
             <tr>
                 <th colspan="3">
                     <button @click="compile()">
                         Compile Expression
                     </button>
                 </th>
             </tr>

         </table>
         <div class="result ncr_green_border">
             <p>
                 Compiled Expresion is: <b> {{compiled}} </b>
             </p>
         </div>
     </div>
 </div>
</template>

<script>
export default {
    data(){
        return {
            nsvActivtyType: "",
            nsvidAndactivity: "",
            compiled: ""
        }
    },
    methods: {
        compile(){
            this.compiled = "SetNSVRepairAdvice(\"" + this.nsvActivtyType + "\",\"" + this.nsvidAndactivity + "\");"
        }
    }
}
</script>

<style>

</style>