<template>
  <div id="SetRevisitLevel">
      <h2>SetRevisitLevel()</h2>
      <p>  </p>
      <div class="table_div">
          <table class="ncr_green_border">
              <tr>
                  <th>
                      (0)
                  </th>
                  <th>
                      revisitLevel: 
                  </th>
                  <td>
                      <input type="text" v-model="revisitLevel" placeholder="{REVISITLEVEL}">
                  </td>
              </tr>
              <tr>
                  <th colspan="3">
                      <button @click="compile()">
                          Compile Expresion
                      </button>
                  </th>
              </tr>
          </table>
          <div class="result ncr_green_border">
              <p>
                  Compiled Expresion is : <b> {{compiled}} </b>
              </p>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            revisitLevel: "",
            compiled: ""
        }
    },
    methods: {
        compile(){
            this.compiled = "SetRevisitLevel(\"" + this.revisitLevel + "\");"
        }
    }
}
</script>

<style>

</style>