<template>
  <div id="abbre">
      <h2>Abbreviations</h2>
      <p>Type an abbreviation and click submit:</p>
      <div class="table_div">
        <table>
        <tr>
          <th>
            <input type="text" v-model="abbre">
          </th>
          <td>
            <button @click="find_abbre()">Submit</button>
          </td>
        </tr>
      </table>
      </div>
      
      
      <p>
        <b>Result:</b> <u> {{result}} </u>
      </p>
  </div>
</template>

<script>
/* eslint no-console: "error" */
export default {
  data() {
    return {
      abbre_data: [
        {short: "EPS", long: "Expert Predictive System"},
        {short: "MMO", long: "Massive Multiplayer Online"},
        {short: "CE", long: "customer engineer"},
        {short: "SSCO", long: "Self service checkout"},
        {short: "POS", long: "Auto Checkout (needs to be explained a bit more)"},
        {short: "UA", long: "Unified Agent"},
        {short: "JMS", long: "Java Message System"},
        {short: "FML", long: "Fault management logic "},
        {short: "EMEA", long: "Europe, Middle East, and Africa"},
        {short: "REMRES", long: "Remote Resolution"},
        {short: "PWC", long: "Predictive Web Console"},
        {short: "KWAPP", long: "Knowledge Warehouse application"},
        {short: "", long: ""},
        {short: "", long: ""},
        {short: "", long: ""},
        {short: "", long: ""},
        {short: "", long: ""},
        {short: "", long: ""},
        {short: "", long: ""},
        {short: "", long: ""},
        {short: "", long: ""},
        {short: "", long: ""},
        {short: "", long: ""},
        {short: "", long: ""},
        {short: "", long: ""},
        {short: "", long: ""},
        {short: "", long: ""}

//         
//  - 
// UA - Unified Agent? Was written for Vision -> NCR product... 
//  (java message system)
// FML - > 
// Neymr? -> -> USA and Canada (Mexico in NCR is parth of CLA -> Central and Latin America)
// EMEA -> 
// NA -> Africa
// AP -> Asia Pacific -> China, Hong Kong, Singapore, Australia, New Zealand
// KW AP -> Knowledge Warehouse application
// PWC -> Predictive Web Console
// RemRes -> remote resolution

// MLS -> Most likely solution
// TDR Table driven rules
// RR-> remote resolve team
// ESUATW -> user accepted testing WorldPa
// FUA -> For Use At
// FSM  -> failed safe monitor
// MDATA -> machine data
// SR -> Service Request
// ct-> configuration Tally
// sco -> self checkout
// MNT - maintnance
// GBRU -> Global bunch note recycler. 
// SLA -> Service level agreement
// RFC -> request for change
      ],
      abbre: "",
      result: ""
    }
  },
  methods: {
    find_abbre() {
      let sword = this.abbre.toUpperCase()
      for(let i in this.abbre_data){
        if(sword == this.abbre_data[i].short){
          var result = this.abbre_data[i].long
          break;
        }else {
          result = "Word not found"
        }
      }
      this.result = result
    }
  }

}
</script>

<style>
#abbre input {
    height: 30px;
    /* width: 100px; */
    font-size: 25px;
  }
#abbre button {
  /* width: 75px; */
  height: 30px;
  width: 150px;
}
#abbre td {
  width: 155px;
}
</style>>
