<template>
    <div id="SRLink">
        <h2>SRLink()</h2>
        <p>
              
        </p>
        <div class="table_div">
            <table class="ncr_green_border">
                <tr>
                    <th>
                        (0)
                    </th>
                    <th>
                        srFrom:
                    </th>
                    <td>
                        <input type="text" v-model="srFrom">
                    </td>
                </tr>
                <tr>
                    <th>
                        (1)
                    </th>
                    <th>
                        srTo
                    </th>
                    <td>
                        <input type="text" v-model="srTo">
                    </td>
                </tr>
                <tr>
                    <th colspan="3">
                        <button @click="compile()">
                            Compile Expression
                        </button>
                    </th>
                </tr>
            </table>

            <div class="result ncr_green_border">
                <p>
                    Compiled Expresion: <b> {{compiled}} </b>
                </p>
            </div>
        </div>
    </div>
    
</template>

<script>
export default {
    data() {
        return {
            srFrom: "",
            srTo: "",
            compiled: ""
        }
    },
    methods: {
        compile(){
            this.compiled = "SRLink(\"" + this.srFrom + "\",\"" + this.srTo + "\");"
        }
    }
}
</script>

<style>

</style>