<template>
  <div id="TaskChangeStatus">
      <h2>
          TaskChangeStatus()
      </h2>
      <p>
           
      </p>
      <div class="table_div">
          <table class="ncr_green_border">
              <tr>
                <th>
                  (0) taskNumber: 
                </th>
                <td>
                    <input type="text" v-model="taskNumber">
                </td>
              </tr>
              <tr>
                  <th>
                      (1) taskStatus: 
                  </th>
                  <td>
                      <input type="text" v-model="taskStatus">
                  </td>
              </tr>
              <tr>
                  <th colspan="2">
                      <button @click="compile()"> 
                          Compile Expresion: 
                      </button>
                  </th>
              </tr>
          </table>
          <div class="result ncr_green_border">
              <p>
                  The Compiled Expresion: <b> {{compiled}} </b>
              </p>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            taskNumber: "",
            taskStatus: "",
            compiled: ""
        }
    },
    methods: {
        compile() {
            this.compiled = "TaskChangeStatus(\"" + this.taskNumber + "\", \"" + this.taskStatus + "\");"
        }
    }
}
</script>

<style>
.table_div  table{
    min-width: 65%;
    /* border: 1px solid green; */
    margin: 0 auto;
    
}
.table_div table th, td {
    border: 2px solid rgb(87, 182, 73);
}
.table_div table td {
    width: 70%;
}
.table_div  table input, select, option, button{
    width: 100%;
}
.table_div .result {
    width: 65%;
    margin: 20px auto;
    /* border: 1px solid green; */
}
.result p {
    text-align: left;
    padding: 5px;
}
</style>