<template>
  <div id="test_html">
    <!-- <p> <b> **High No Fault found device** </b><br><br>

    SELF test : <br>
    The DLXI Blaster printer takes longer than other models to perform a self-test, The feed button may need to be held for up to a minute before the self-test begins. <br><br>

    Print head :<br>
    On top of this the springs within the print head are stronger so will require more pressure to engage the print head, Push firmly on top of the print head until you hear two clicks from both sides of the head. <br><br>

    Print mode : <br>
    Print mode must be set to “TT” not “Auto TT” or “DT”
    </p>
    <font color = "blue" ><p> <b> **High No Fault found device** </b><br><br>

    SELF test : <br>
    The DLXI Blaster printer takes longer than other models to perform a self-test, The feed button may need to be held for up to a minute before the self-test begins. <br><br>

    Print head :<br>
    On top of this the springs within the print head are stronger so will require more pressure to engage the print head, Push firmly on top of the print head until you hear two clicks from both sides of the head. <br><br>

    Print mode : <br>
    Print mode must be set to “TT” not “Auto TT” or “DT”
    </p> </font>
 -->
    
  </div>
</template>

<script>
export default {

}
</script>

<style>
#test_html {
    text-align: left;
}

</style>