<b>ES note:</b><br>
<p>Please check Scanner can scan digital ad-cards after any work is completed on a Boots SSCO</p><br>

<a href='http://m.ncr.com/uk_ce_info/web/SSC/Common%20Info/Boots/Scanner/doc/FSB-RET-T-2019-027%20Boots%20SCO%20scanner%20checks.htm'>http://m.ncr.com/uk_ce_info/web/SSC/Common%20Info/Boots/Scanner/doc/FSB-RET-T-2019-027%20Boots%20SCO%20scanner%20checks.htm</a>


<b>**High No Fault found device**</b><br>
<p>printer has a high level of No fault found hits with the repairers. Please ensure that the documentation is followed and the helpdesk are contacted if Fail on fit as drivers or software may be the underlying issue. 
<br>
IF the device does turn out to be OBF or WPIB please ensure the OBF form is filled in accurately so these can be tracked. </p>
