<template>
    <div id="UpdatePririty">
        <h2>UpdatePriority()</h2>
        <p>
              
        </p>
        <div class="table_div">
            <table class="ncr_green_border">
                <tr>
                    <th>
                        (0)
                    </th>
                    <th>
                        severity:
                    </th>
                    <td>
                        <input type="text" v-model="severity" placeholder="NCR level of emergency">
                    </td>
                </tr>
                <tr>
                    <th>
                        (1)
                    </th>
                    <th>
                        priority:
                    </th>
                    <td>
                        <input type="text" v-model="priority" placeholder="Customer level of emergency">
                    </td>
                </tr>
                <tr>
                    <th>
                        (2)
                    </th>
                    <th>
                        urgency:
                    </th>
                    <td>
                        <input type="text" v-model="urgency" placeholder="Task level of emergency">
                    </td>
                </tr>
                <tr>
                    <th colspan="3">
                        <button @click="compile()">
                            Compile Expresion
                        </button>
                    </th>
                </tr>
            </table>
            <div class="result ncr_green_border">
                <p>
                    Compiled Expersion is: <b> {{compiled}} </b>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            severity: "",
            priority: "",
            urgency: "",
            compiled: ""
        }
    },
    methods: {
        compile() {
            this.compiled = "UpdatePriority(\"" + this.severity + "\",\"" + this.priority + "\",\"" + this.urgency + "\");"
        }
    }
}
</script>

<style>

</style>