<template>
    <div>
        <h2>UpdateTaskOwner()</h2>
        <p>
             
        </p>
        <div class="table_div">
            <table class="ncr_green_border">
            <tr>
                <th>
                    (0)
                </th>
                <th>
                    groupOwner
                </th>
                <td>
                    <input type="text" v-model="groupOwner">
                </td>
            </tr>
            <tr>
                <th>
                    (1)
                </th>
                <th>
                    resource
                </th>
                <td>
                    <input type="text" v-model="resource">
                </td>
            </tr>
            <tr>
                
                    <th colspan="3">
                        <button @click="compile()">
                            Compile Expresion:
                        </button>
                    </th>
                
            </tr>
        </table>
        <div class="result ncr_green_border">
            <p>
                Compiled Expresion is : <b> {{compiled}} </b>
            </p>
        </div>
        </div>
        
    </div>
</template>

<script>
export default {
    data() {
        return {
            groupOwner: "",
            resource: "",
            compiled: ""
        }
    },
    methods: {
        compile(){
            this.compiled = "UpdateTaskOwner(\"" + this.groupOwner + "\",\"" + this.resource + "\");"
        }
    }
}
</script>

<style>

</style>