<template>
    <div>
        <h2>UpdateTaskType()</h2>
        <p>
             
        </p>
        <div class="table_div">
            <table class="ncr_green_border">
                <tr>
                    <th>
                        (0)
                    </th>
                    <th>
                        taskType
                    </th>
                    <td>
                        <input type="text" v-model="taskType">    
                    </td>                
                </tr>
                <tr>
                    <th colspan="3">
                        <button @click="compile()">
                            Compile Expresion
                        </button>
                    </th>
                </tr>
            </table>
            <div class="result ncr_green_border">
               <p> Compiled Expresion is: <b> {{compiled}}  </b> </p>
            </div>
        </div>
        
    </div>
</template>

<script>
export default {
    data() {
        return {
            taskType: "",
            compiled: ""
        }
    },
    methods: {
        compile() {
            this.compiled = "UpdateTaskType(\"" + this.taskType + "\");"
        }
    }
}
</script>

<style>

</style>