<template>
    <div id="UpdateSubject">
        <h2>UpdateSubject()</h2>
        <p>  </p>

        <div class="table_div">
            <table class="ncr_green_border">
                <tr>
                    <th>
                       (0)  taskSubject: 
                    </th>
                    <td>
                        <input type="text" v-model="taskSubject">
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <button @click="compile()">
                           Compile Expresion
                        </button>
                    </th>
                </tr>
            </table>
            <div class="result ncr_green_border">
                <p>
                    Compiled Expresion is : <b> {{compiled}} </b>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            taskSubject: "",
            compiled: ""
        }
    },
    methods: {
        compile(){
            this.compiled = "UpdateSubject(\"" + this.taskSubject + "\");"
        }
    }
}
</script>

<style>

</style>