<template>
    <div id="UpdateSRType">
        <h2>UpdateSRType()</h2>
        <p>
              
        </p>
        <div class="table_div">
            <table class="ncr_green_border">
                <tr >
                    <th>
                        (0)
                    </th>
                    <th>
                        SRType:
                    </th>
                    <td>
                        <input type="text" v-model="SRType">
                    </td>
                </tr>
                <tr>
                    <th>
                        (1)
                    </th>
                    <th>
                        note
                    </th>
                    <td>
                        <input type="text" v-model="note">
                    </td>
                </tr>
                <tr>
                    <th>
                        (2)
                    </th>
                    <th>
                        noteType:
                    </th>
                    <td>
                        <input type="text" v-model="noteType">
                    </td>
                </tr>
                <tr>
                    <th>
                        (3)
                    </th>
                    <th>
                        noteStatus:
                    </th>
                    <td>
                        <input type="text" v-model="noteStatus">
                    </td>
                </tr>
                <tr>
                    <th colspan="3">
                        <button @click="compile()">
                            Compile Expresion
                        </button>
                    </th>
                </tr>
            </table>
            <div class="result">
                <p>
                    Compiled Expresion: <b> {{compiled}} </b>
    <br>
                  
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            SRType: "",
            note: "",
            noteType: "",
            noteStatus: "",
            compiled: "",
            
        }
    },
    methods: {
        compile() {
            this.compiled = "UpdateSRType(\"" + this.SRType + "\",\"" + this.note + "\",\"" + this.noteType + "\",\"" + this.noteStatus + "\");"
        }
    }
}
</script>

<style>

</style>