<template>
    <div>
        <h2>UpdateSRGroup()</h2>
        <p>
             
        </p>
        <div class="table_div">
            <table class=" ncr_green_border">
                <tr>
                    <th>
                        (0)
                    </th>
                    <th>
                        srGroup:
                    </th>
                    <td>
                        <input type="text" v-model="srGroup">
                    </td>
                </tr>
                <tr>
                    <th colspan="3">
                        <button @click="compile()">
                            Compile Expresion
                        </button>
                    </th>
                </tr>
            </table>
            <div class="result ncr_green_border">
                <p>
                    Compiled Expresion: <b>{{compiled}} </b>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            srGroup: "",
            compiled: ""
        }
    },
    methods: {
        compile() {
            this.compiled = "UpdateSRGroup(\"" + this.srGroup + "\");"
        }
    }
}
</script>

<style>

</style>