<template>
  <div id="app">
    <div id="header">
      <h1>EPS Rules Writing Helper</h1>
      
      <router-link to="/"><img alt="Vue logo" src="@/assets/ncr-logo.jpg" id="logo"></router-link>
      <div id="helper_list">
        <router-link to="/abbre"><div class="li_div"><p>Abbreviation</p></div></router-link>
        <router-link to="/csv"><div class="li_div"><p>CSV</p></div></router-link>
        <div class="li_div"><p>Knowledge</p></div>
        <!-- <div class="li_div"><p>Help</p></div> -->
        <!-- <div class="li_div"><p>Request</p></div> -->
        <!-- <router-link to="/test_html"><div class="li_div"><p>Test</p></div></router-link> -->
      </div>

      <div id="hamburger" @click="display_hamburger()">
        <p><i class="fa fa-bars"></i></p>
      </div>

    </div>
    <div id="nav">
      <router-link to="/ChangeStatus">ChangeStatus()</router-link> 
      <router-link to="/TaskChangeStatus">TaskChangeStatus()</router-link> 
      <router-link to="/AddTaskNote">AddTaskNote() 2/3 </router-link> 
      <router-link to="/CreateTask">CreateTask() 9/10/11</router-link> 
      <!-- <router-link to="/CreateTask">-- CreateTask() 10 </router-link> 
      <router-link to="/CreateTask">-- CreateTask() 11 </router-link>  -->
      <router-link to="/UpdateSubject">UpdateSubject()</router-link> 
      <router-link to="/SetRevisitLevel">SetRevisitLevel()</router-link> 
      <router-link to="/AddAttachment">AddAttachment()</router-link> 
      <router-link to="/AddPart">AddPart()</router-link> 
      <router-link to="/AddSkill">AddSkill()</router-link>
      <router-link to="/CreateSR">CreateSR()</router-link> 
      <router-link to="/CreatePISR">CreatePISR()</router-link> 
      <router-link to="/MoveToFired">MoveToFired()</router-link> 
     <router-link to="/SetNSVRepairAdvice">SetNSVRepairAdvice()</router-link> 
      <!-- <router-link to="/about">AddToChecklistRuleFired()</router-link>  -->
      <router-link to="/CreateSRTask">CreateSRTask()</router-link> 
      <router-link to="/CreateSRTaskREF">CreateSRTaskREF()</router-link> 
      <router-link to="/SRLink">SRLink()</router-link> 

      <router-link to="/SendMail">SendMail()</router-link> 
      <!-- <router-link to="/">NoAction()</router-link>  -->
      <router-link to="/UpdatePriority">UpdatePriority()</router-link> 

      <router-link to="/UpdateSRType">UpdateSRType()</router-link> 
      <router-link to="/AddNpp"> AddNPP()</router-link> 
      <router-link to="/UpdateTaskType"> UpdateTaskTypel()</router-link> 
      <router-link to="/UpdateTaskOwner">UpdateTaskOwner()</router-link> 
      <router-link to="/UpdateSRGroup">UpdateSRGroup()</router-link> 
      <router-link to="/NoAction">NoAction()</router-link>
    </div>
    <div id="router_view">
      <router-view/>
    </div>
    
  </div>
</template>

<script>
export default {
  methods: {
    display_hamburger(){
      let x = document.getElementById("nav")
      if(x.style.display == "block"){
        x.style.display = "none"
      }else {
        x.style.display = "block"
      }
      
    }
  }
}
</script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  /* padding: 30px; */
  /* border: 1px solid red; */
  overflow: scroll;
  /* height:150px; */
  width: 15vw;
  height: 80vh;
  position: fixed;
  left:0;
  top: 20vh;
  
}
#nav::-webkit-scrollbar {
  width: 10px;
}
#nav::-webkit-scrollbar-thumb {
  background: rgb(87, 182, 73); 
  border-radius: 10px;
}
#nav a {
  font-weight: bold;
  color: #2c3e50;
  padding: 10px;
  border-top: 1px solid green;
  margin:0 auto;
  display: inline-block;
  width: 90%;
  text-decoration: none;
}
#nav a:hover {
  text-shadow: 2px 2px rgb(87, 182, 73);
}

#nav a.router-link-exact-active {
  color: #ffffff;
  background-color: rgb(87, 182, 73);
}
#router_view {
  width: 83vw;
  position: absolute;
  top: 20vh;
  left: 16vw;
  min-height:80vh;
  /* border: 1px solid red; */
  /* border: 5px solid rgb(87, 182, 73); */
  background-image: url("./assets/ncr-logo-add.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  /* background-color: green; */
}
#header {
  width: 99vw;
  height: 17vh;
  /* border: 5px solid rgb(87, 182, 73); */
  padding: 0;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
  background-image: url("./assets/ncr-logo-add.jpg");
  background-size: cover;
  box-shadow:10px 10px 10px rgba(0, 0, 0, 0.733);
}
#header #logo {
  position: absolute;
  left: 0;
  top:0;
  height: 100%;
}
#header h1 {
  color: rgb(87, 182, 73);
  text-shadow: 2px 2px rgb(17, 17, 17);
  font-size: 37px;
  color: white;
}
.ncr_green_color {
  color: rgb(87, 182, 73);
}
.ncr_green_border {
  border: 2px solid rgb(87, 182, 73);
}
#helper_list {
  border: 2px solid rgb(87, 182, 73);
  position: absolute;
  right: 0;
  bottom: -4px;
  display:flex;
  justify-content: space-between;
}
.li_div {
  border: 2px solid white;
  width: 100px;
  background-color: rgb(87, 182, 73);
  color: white;
  /* height: 40px;
  padding: 0 10px; */

}
.li_div:hover {
  background-color: green;
  border: 2px double rgb(87, 182, 73);
  /* color: green; */
  /* border-bottom: 5px solid green; */
}
#helper_list a {
  text-decoration: none;
}
#hamburger {
  display: none;
}
@media only screen and (max-width: 601px) {
  #header {
    height: 15vh;
    width: 100vw;
  }
  .li_div {
    display:none;
  }
  #header h1 {
    font-size: 25px;
    width: 60%;
    margin: 5% auto;
    /* text-align: right; */
    margin-left: 110px;
  }
  #nav {
    display: none;
  }
  #router_view {
    width: 100%;
    left: 0;
    top: 15vh;
    min-height: 100vh;
  }
  #hamburger {
    display: block;
    position: absolute;
    /* top: 0; */
    bottom: 0;
    right: 1px;
    width: 50px;
    height: 50px;
    /* border: 1px solid red; */
    background-color: rgba(4, 39, 14, 0.5);
    border-radius: 10%;
  }
  #hamburger p {
    width: 50px !important;
    height: 50px !important;
  }
  #nav {
    display: none;
    z-index: 500;
    right: 0;
    width: 100%;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.568);
    position: fixed;
    right: 0;
    top: 15vh;

  }
  #nav a {
    color: white;
  }
}
@media only screen and (min-width: 602px) and (max-width: 1050px){
  #header h1 {
    font-size:30px;
  }
  .li_div {
    width: 75px;
    height: 30px;
    font-size: 15px;
    line-height: 5px;
  }
  #nav {
    width: 30vw;
  }
  #router_view {
    width: 70vw;
    left: 30vw;
  }
}
</style>
